body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #81fbff;
}

header {
    color: rgb(109, 109, 109);
}

#container {
  padding: 2em;
  background: #aefcff;
}

#chosen {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
  color: rgb(109, 109, 109);
}

#choices {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 1em;
}

#winner-div {
  text-align: center;
  color: gold;
}
